@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

/* Tıklama animasyonu için */
.box.clicked {
  animation: colorChange 3s infinite;
}

/* Renk değişim animasyonu */
@keyframes colorChange {
  0% {
    background-color: #007bff;
  }
  50% {
    background-color: #e74c3c;
  }
  100% {
    background-color: #007bff;
  }
}
